<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
    
    <script src="resources/TesteController.js"></script>
    
  </head>
  
  <body ng-app="mainApp">
        <div ng-controller="oitudobem">
            <label>Name:</label>
            <input type="text" ng-model="yourName" placeholder="Enter a name here">
            <hr>
            <h1>Hello {{yourName}}!</h1>
            
            {{person.firstName}} - {{person.age}}
            
            <button type="button" class="btn btn-primary" ng-click="chamarGet()" >Chamar Get</button>
            
            <p></p>
            
            Coluna : {{registro.coluna}} <br/>
            Valor : {{registro.valor}} <br/>
            Usuario : {{registro.usuario.nome}} <br/>
            Telefone : {{registro.usuario.telefone}} 
            
            <p></p>
            
            <button type="button" class="btn btn-primary" ng-click="enviaStringViaJson()">Enviar String ViaJson</button>

            <p></p>
            
            <button type="button" class="btn btn-primary" ng-click="enviaStringViaText()">Enviar String Text Plain</button>
            
            <p></p>
            
            <button type="button" class="btn btn-primary" ng-click="enviaStringViaPostForm()">Enviar String Via Post Form Application</button>
            
            <p></p>
            
            <button type="button" class="btn btn-primary" ng-click="adicionarRegistro()">Enviar Objecto Registro via Post</button>
            
        </div>
  </body>
  
</html>




